*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header{
    background-image: linear-gradient(to bottom, black, grey);
    color: white;
    text-align: center;
}

header h1{
    padding: 70px;
    padding-bottom: 10px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header p{
    padding-bottom: 30px;
}

section > div.textonly{
    font-size: 20px;
    padding: 25px;
    font-family: cursive;
    line-height: 60px;
}

section > div.imagewithtext{
    background-color: blue;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    box-shadow: inset rgba(0, 0, 0, 0.692) 1px 0px 20px 12px;
    position: relative;
    
}

div.inboxedtext{
    font-size: 20px;
    padding: 25px;
    font-family: cursive;
    line-height: 60px;
    color: white;
    background-color: rgba(85, 85, 85, 0.753);
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    border-radius: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
}